.main {}

.main__about {
    background: url("../img/bg/girl.png") 80% 100% / cover;
    height: 613px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
    display: block;
}

.about__body {
    padding-left: 20px;
    padding-top: 40px;
}

.about__heading {}

.about__title {
    font-family: Graphik;
    font-size: 70px;
    font-weight: 600;
    line-height: 74px;
    max-width: 731px;
    width: 100%;
    color: var(--general-bg);
    margin-bottom: 20px;
}

.about__text {
    font-family: Graphik;
    font-size: 20px;
    line-height: 28px;
    color: var(--general-bg);
    max-width: 471px;
    width: 100%;
    margin-bottom: 20px;
}

.about__grid {}

.about__grid-img {}

.about__button {
    max-width: 306px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.block {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.about__block {
    border-radius: 30px;
    background: var(--accent-text);
    height: 169px;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 370px;
}

.about__block2 {
    border-radius: 30px;
    background: var(--accent-text);
    height: 169px;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 370px;
}

.about__block3 {
    border-radius: 30px;
    background: var(--accent-text);
    height: 169px;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 370px;
}

.about__block-title {
    font-family: Graphik;
    margin-bottom: 17px;
    margin-top: 5px;
    margin-left: 20px;
    width: 340px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 5px;
    color: var(--general-bg);
}


.about__block-text1 {
    font-family: Graphik;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--general-bg);
    margin-right: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 29px;
}

.about__block-text {
    font-family: Graphik;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--general-bg);
    margin-right: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
}


.age-main {
    display: none;
}