.block{
    background: rgb(202, 161, 73);
    border-radius: 30px;
    display: block;
    width: 250px;
    height: 200px;
    padding: 30px;
    float: left;
    margin: 10px;
    
}


