.block{
    background: rgba(160, 160, 6, 0.596) ;
    border-radius: 30px;
    display: block;
    width: 250px;
    height: 200px;
    padding: 30px;
    float: left;
    margin: 10px;
   
}

.container {
    width: 1300px;
    height: 500px;
    overflow: auto;
    border: 2px solid #00000041;
    border-radius: 33px; 
}


