body {
    background-color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 150%;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;

}

/* ==================================== */
.header {
    min-height: 108px;
    align-items: center;
    align-content: center;
    line-height: 150%;
}


.header_inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;

}


.nav {}

.nav_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.nav_item {}

.nav_link {}

.img-2 {
    width: 54px;
    height: 48px;
}

.header_socials {
    justify-self: end;
}

.socials {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.socials_item {}

.socials_link {}







/* ============================== */

.main {}

.hero {
    padding: 120px 0;
    /* background: #3d3535; */
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero_title {
    font-size: 52px;
    font-weight: 600;
    line-height: 150%;
    color: rgb(248, 252, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero_list {
    color: rgb(248, 252, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-bottom: 40px;

}

.hero_list-item {
    margin-bottom: 15px;

}

.hero_list-item:last-child {
    margin-bottom: 0;
}

.container {}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(29, 111, 182);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 56px;
    max-width: 288px;
    background: rgb(208, 220, 231);
    border-radius: 100px;
    padding: 18px 30px 18px 30px;

}


.hero_list-item:hover path {
    fill: #1d6fb6;
}

.hero_list-item:hover {
    fill: #1d6fb6;
}

.hero_list-item path [] .hero_list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.hero-inner {}


.hero_img {
    /* width: 21px;
    height: 20px;
    left: 8.33%;
    right: 4.17%;
    top: 4.17%;
    bottom: 12.5%; */

}

.hero_video {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.hero_video::before {
    content: " ";
    display: block;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(16, 46, 73, 0.8);

}

.hero_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------------- */



.makin_general {
    padding: 120px 0;

}

.main_wrapper {
    display: flex;
    gap: 126px;
}

.siddebar {
    border: 2px solid rgb(208, 220, 231);
    padding: 30px;
    flex-basis: 282px;
    flex-shrink: 0;
    width: 100%;

}

.sodebar_nav {}

.siderbar_list {}

.sidebar_item {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;


}

.sidebar_item:last-child [ margin-bottom:;

] main_body {}


.main_gallery {
    margin-bottom: 120px;
}



/* =============================== */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
    font-weight: 500;
    line-height: 29px;
    font-size: 24px;
    color: rgb(248, 252, 255);
}

.gallery_img img {
    width: 100%;

}

.gallery_img {
    position: relative;
    display: block;
}


.gallery_img--lange--left {
    grid-column: 1/3;
    grid-row: span 2;

}


.gallery_img--lange--right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery_hint {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(29, 111, 182, 0.7);
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_img--lange--left .gallery_hint,
.gallery_img--lange--right .gallery_hint {
    font-weight: 500;
    line-height: 29px;
    height: 103px;
}

/* =================================================== */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.products_item {}


.products_item-body {
    border: 1px solid rgb(208, 220, 231);
    border-top: none;
    padding: 30px 15px;
}

.products_item-button {
    margin: 0 auto;
}



.products_item-badge {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: absolute;

}

/* ========================= */
.footer {
    background: rgb(120, 128, 136);
    text-align: center;
    color: rgb(248, 252, 255);
    line-height: 20px;
    padding: 30px; 0
}

.footer svg {
    vertical-align: sub;
}